html, body {
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
  }
  
  body > * {
    border:5px solid darkcyan;
  }
  
  body > header, body > footer {
    background:#AFAEB3;
    color: black;
    height: 70px;
    line-height:70px;
    text-align:center;
  }
  
  main {
    background:#AFAEB3;
  }
  
  main > .content {
    background: #AFAEB3;;
  }
  
  main > aside {
    background: #AFAEB3;;
    height: 100%
  }
  
  main > nav {
    background:#AFAEB3;;
    height: 100%;
    font-size: 1.25em;
  }
  
  aside > ul {
    list-style-type: none;
  }
  nav > ul {
    list-style-type: none;
  }
  
  .deck {
    background:#96939B;
  }
  
  .deck:first-child {
    border-bottom: 3px solid darkcyan;
  }
  
  
  .centerWords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .navAlign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    background-color: #AFAEB3;
  }
  
  
  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: ghostwhite;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: darkcyan;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #C34A8B;
    background-color: transparent;
    text-decoration: underline;
  }
  
  ul {
    line-height: 250%
  }
  